<!DOCTYPE HTML>
<html data-ng-app="pokerHandApp">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Poker Hand</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="css/application.css" media="screen" />
  </head>
  <body class="align-center">
    <h1>Poker Hand</h1>
    <button class="buttons" name="shuffle">Shuffle</button>
    <button class="buttons" name="deal">Deal</button>
    <div data-ng-repeat="hand in hands">
      <div data-ng-repeat="card in hand"></div>
    </div>
    <script src="js/bundle.js"></script>
  </body>
</html>
